body {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
}


/*------------------------------------------*/


/*Menu*/


/*------------------------------------------*/

.menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 50px;
    background-color: black;
    color: white;
}

.aparecer {
    position: relative;
    transform: translateY(5rem);
    opacity: 0;
    transition: 1s all ease;
}

.aparecer.activo {
    transform: translateY(0);
    opacity: 1;
}

.menu__header {
    font-size: 30px;
    justify-content: center;
}

.menu-list {
    display: flex;
}

.menu__list__item {
    margin: 10px;
    justify-content: center;
}

a {
    text-decoration: overline;
    color: white;
    transition: 0.5s;
}

a:hover {
    font-size: 18px;
    text-decoration: underline;
}


/*------------------------------------------*/


/*Contenido del desarrollo*/


/*------------------------------------------*/

.desarrollo .container {
    width: auto;
    flex-direction: column;
}


/*------------------------------------------*/


/*Titulos*/


/*------------------------------------------*/

.titulo-sobremi,
.titulo-habilidad,
.titulo-hobbies,
.titulo-formacion,
.titulo-proyectos,
.contacto-titulo {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*------------------------------------------*/


/*Inicio*/


/*------------------------------------------*/

.titulo .container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    align-items: center;
}

.perfil {
    margin-bottom: 30px;
}

.texto {
    width: 50%;
    margin-bottom: 40px;
    font-size: 20px;
}

.titulo__biografia {
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.blackes {
    margin-top: 50px;
}


/*------------------------------------------*/


/*Sobre mi*/


/*------------------------------------------*/

.sobre-mi .container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

.informacion {
    width: 50%;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
}


/*------------------------------------------*/


/*Habilidades*/


/*------------------------------------------*/

.habilidad .container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.habilidades {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.caja-habilidades {
    border: transparent;
    margin: 15px;
    align-items: center;
    border-radius: 30px;
    background-color: black;
    cursor: pointer;
}

.html:hover {
    box-shadow: 0 0 100px rgba(238, 132, 10, 0.938);
    background: linear-gradient(rgba(238, 132, 10, 0.938), rgb(251, 251, 253));
    border: none;
}

.js:hover {
    box-shadow: 0 0 100px rgba(241, 206, 5, 0.877);
    background: linear-gradient(rgba(241, 206, 5, 0.877), rgb(251, 251, 253));
    border: none;
}

.sql:hover {
    box-shadow: 0 0 100px rgba(36, 64, 224, 0.89);
    background: linear-gradient(rgba(36, 64, 224, 0.89), rgb(251, 251, 253));
    border: none;
}

.php:hover {
    box-shadow: 0 0 100px rgba(109, 8, 224, 0.89);
    background: linear-gradient(rgba(109, 8, 224, 0.89), rgb(251, 251, 253));
    border: none;
}

.git:hover {
    box-shadow: 0 0 100px rgba(238, 94, 10, 0.89);
    background: linear-gradient(rgba(238, 94, 10, 0.89), rgb(251, 251, 253));
    border: none;
}

.css:hover {
    box-shadow: 0 0 100px rgba(10, 101, 238, 0.89);
    background: linear-gradient(rgba(10, 101, 238, 0.89), rgb(251, 251, 253));
    border: none;
}

.cc:hover {
    box-shadow: 0 0 100px rgba(10, 238, 162, 0.89);
    background: linear-gradient(rgba(10, 238, 162, 0.89), rgb(251, 251, 253));
    border: none;
}

.c:hover {
    box-shadow: 0 0 100px rgba(73, 114, 109, 0.89);
    background: linear-gradient(rgba(73, 114, 109, 0.89), rgb(251, 251, 253));
    border: none;
}

.lista-habilidad {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    align-items: center;
}


/*------------------------------------------*/


/*Hobbies*/


/*------------------------------------------*/

.hobbies .container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

.hobbi {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.caja-hobbi {
    margin: 25px;
    align-items: center;
    border-radius: 30px;
    background-color: white;
}

.caja-hobbi:hover {
    background: linear-gradient(white, black);
    border: none;
}

.lista-hobbi {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    align-items: center;
}


/*------------------------------------------*/


/*Formacion academica*/


/*------------------------------------------*/

.formacion .container {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.cursos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.caja-cursos {
    margin: 10px;
    align-items: center;
    text-align: center;
}

.lista-cursos {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    align-items: center;
}


/*------------------------------------------*/


/*Experiencia profesional*/


/*------------------------------------------*/

.proyectos .container {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

.experiencia {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: space-around;
}

.img-experiencia {
    width: 50%;
}

.experiencia-titulo {
    margin-bottom: 20px;
    justify-content: center;
}

.experiencia-descripcion {
    margin-top: 50px;
    flex-direction: column-reverse;
}

a button {
    align-items: center;
    border: solid 20px white;
    border-radius: 30px;
    cursor: pointer;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}


/*------------------------------------------*/


/*Contactos*/


/*------------------------------------------*/

.contactos .container {
    display: flex;
    margin-bottom: 50px;
    display: flex;
    text-align: center;
    margin-bottom: 100px;
}

.contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contacto-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 30px;
}

.contacto-input {
    margin-bottom: 30px;
    padding: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contacto-boton {
    border: solid 1px;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

alert {
    display: flex;
    justify-content: center;
}


/*------------------------------------------*/


/*subir*/


/*------------------------------------------*/

.subirinicio {
    display: flex;
    position: fixed;
    bottom: 20px;
    width: 30px;
    right: 50px;
}


/*------------------------------------------*/


/*Footer*/


/*------------------------------------------*/

.footer .creditos {
    text-align: center;
    background-color: black;
    color: white;
    padding: 100px;
}


/*---------------------------------------------*/


/*animacion*/


/*---------------------------------------------*/

.objeto {
    width: 100%;
    height: 100%;
}

.box li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgb(7, 5, 5);
    animation: animate 20s linear infinite;
    top: 1;
    border-radius: 50%;
}

.box li:nth-child(1) {
    Left: 75%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box li:nth-child(2) {
    Left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box li:nth-child(3) {
    Left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box li:nth-child(4) {
    Left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box li:nth-child(5) {
    Left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box li:nth-child(6) {
    Left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) scale(0);
    }
    100% {
        transform: translateY(-5000px) scale(2);
        opacity: 0;
    }
}


/*------------------------------------------*/


/*responsive*/


/*------------------------------------------*/

@media (max-width: 768px) {
    .menu .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        text-align: center;
    }
    .menu__list__item {
        padding: 10px;
    }
    .texto {
        text-align: center;
    }
    .perfil {
        display: flex;
        width: 100%;
    }
    .cursos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .experiencia-informacion {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        text-align: center;
    }
    .experiencia-descripcion {
        margin-top: 0px;
    }
    .experiencia-descripcion {
        margin-top: 0px;
    }
    .img-experiencia {
        width: 80%;
    }
    a button {
        align-items: center;
        border: none;
        cursor: pointer;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: white;
        margin-top: 10px;
    }
    .box li {
        display: contents;
    }
    @keyframes animate {
        0% {
            transform: translateY(0) scale(0);
        }
        100% {
            transform: translateY(0px) scale(2);
            opacity: 0;
        }
    }
}